{% comment %}
  Renders a swatch component.
  Accepts:
  - swatch: {Object} a swatch object
  - shape: {String} swatch shape. Accepts 'square', defaults to circle.

  Usage:
  {% render 'swatch',
    swatch: value.swatch
    shape: 'square'
  %}
{% endcomment %}

{% comment %} {%- liquid
  assign swatch_value = null
  if swatch.image
    assign image_url = swatch.image | image_url: width: 50
    assign swatch_value = 'url(' | append: image_url | append: ')'
    assign swatch_focal_point = swatch.image.presentation.focal_point
  elsif swatch.color
    assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
  endif
-%}

<span
  {% if swatch_value %}
    class="swatch{% if shape == 'square' %} swatch--square{% endif %}"
    style="--swatch--background: {{ swatch_value }}; background: {{ swatch_value }};{% if swatch_focal_point %} --swatch-focal-point: {{ swatch_focal_point }};{% endif %}"
  {% else %}
    class="swatch swatch--unavailable{% if shape == 'square' %} swatch--square{% endif %}"
  {% endif %}
></span> {% endcomment %}
{%- liquid
  assign gradient = null
-%}

{%- if swatch.image -%}
  {%- assign image_url = swatch.image | image_url: width: 50 -%}
  <span
    class="swatch{% if shape == 'square' %} swatch--square{% endif %}"
    style="background-image: url({{ image_url }});"
  ></span>

{%- elsif swatch.value -%}
  {%- assign colors = swatch.value | split: '/' -%}
  {%- assign count = colors.size -%}

  {%- if count == 1 -%}
    {%- assign gradient = colors[0] -%}

  {%- elsif count == 2 -%}
    {%- capture gradient -%}
      linear-gradient(45deg, {{ colors[0] }} 50%, {{ colors[1] }} 50%)
    {%- endcapture -%}

  {%- elsif count == 3 -%}
    {%- capture gradient -%}
      linear-gradient(
        45deg,
        {{ colors[0] }} 33%,
        {{ colors[1] }} 33% 66%,
        {{ colors[2] }} 66%
      )
    {%- endcapture -%}

  {%- elsif count == 4 -%}
    {%- capture gradient -%}
      linear-gradient(
        45deg,
        {{ colors[0] }} 25%,
        {{ colors[1] }} 25% 50%,
        {{ colors[2] }} 50% 75%,
        {{ colors[3] }} 75%
      )
    {%- endcapture -%}
  {%- endif -%}

  <span
    class="swatch{% if shape == 'square' %} swatch--square{% endif %}"
    style="background: {{ gradient | strip }};"
  ></span>
{%- else -%}
  <span class="swatch swatch--unavailable"></span>
{%- endif -%}
